*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
body{
    overflow-x: hidden;
}
html {
    /* a cada 1rem será considera 10px */
    font-size: 62.5%;
  }
.container{
    max-width: 114rem;
    margin: auto;
}
header{
    height: 10rem;
    background-color: #000;
}
header .container{
    max-width: 114rem;
    height: 10rem;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .container .logo a{
    text-decoration: none;
    color: #b98b59;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 6px;
}
header .container .menu nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.menu nav ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 600;

    display: flex;
    align-items: center;

    height: 100px;
    padding: 0 20px;
}
.menu nav ul li a:hover{
    border-bottom: 5px solid #b98b59;
    padding-top: 5px;
}

main .banner{
    height: calc(100vh - 100px);
    background-color: #333;
    background: url(/assets/images/bg.jpg);
    background-position: bottom;
    background-size: cover;
    overflow: hidden;
}
.banner .sliders{
    width: 300vw;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    transition: .5s ease;
    display: flex;
}
.banner .slide{
    width: 100vw;
    height: 100%;
    display: inline-block;
}
.banner .slide-1{
    display: flex;

    height: 100%;

    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.banner .slide-1 h1{
    font-size: 6.2rem;
    font-weight: 700;
    color: #ffffff;
    line-height: 1;
    padding-bottom: 16px;
    text-align: center;
}
.banner .slide-1 h1 span{
    color: #b98b59;
}
.banner .slide-1 h2{
    color: #ffffff;
    font-size: 2.2rem;
    font-weight: 700;
    padding-bottom: 40px;
}
.banner .slide-1 a{
    display: block;
    text-decoration: none;
    padding: 15px 60px;
    color: #ffffff;
    background-color: #b98b59;
    border-radius: 22px;
    font-size: 1.5rem;
    font-weight: 700;
}
.banner .slide-focus{
    width: 100vw;
    height: 20px;
    position: absolute;
    bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .pointer-1,
.pointer-2,
.pointer-3{
    width: 15px;
    height: 15px;
    border: 2px solid #b98b59;
    margin: 0 5px 0 5px;
    cursor: pointer;
    border-radius: 100%;
}
.banner .phone{
    position: absolute;
    right: 85px;
    bottom: -20px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #b98b59;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.322), -1px -1px 2px 1px rgba(0, 0, 0, 0.322);
    cursor: pointer;
}
.banner .phone img{
    filter: invert(99%) sepia(99%) saturate(2%) hue-rotate(221deg) brightness(109%) contrast(100%);
}
.default{
    padding-top: 64px;
    padding-bottom: 44px;
}
.default.light{
    background-color: #f7f7f7;
}
.default .section-title{
    text-align: center;
    padding-bottom: 50px;
}
.default .section-title h1{
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 11px;
}
.default.light .section-title h1{
    color: #000;
}
.default .section-title p{
    font-size: 1.2rem;
    color: #afafaf;
    font-weight: 700;
}
.default .container .about-us{
    display: flex;
    padding-bottom: 40px;
}
.default .container .text{
    padding-right: 30px;
}
.default .container .text p{
    text-transform: none;
    font-size: 1.3rem;
    color: #000;
    line-height: 24px;
    font-weight: 500;
    padding-bottom: 30px;
    text-align: start;
}
.about-us .img{
    box-shadow: .5px 10px 12px 6px rgba(0, 0, 0, 0.322);
}
.default .container .text a{
    text-decoration: none;
    padding: 15px 60px;
    color: #ffffff;
    background-color: #b98b59;
    border-radius: 19px;
    font-size: 1.3rem;
    font-weight: 700;
}
.default.dark{
    background-color: #000;
    color: white;
}
.default.dark .section-title h1{
    color: #fff;
}
.services{
    display: flex;
    justify-content: center;
}
.services .box-services{
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 18px 28px;
    flex-direction: column;

    border-left: 2px solid #383838;

    height: 210px;
    line-height: 20px;
}
.services .box-services:last-child{
    border-right: 2px solid #383838;
}
.services .box-services img{
    padding-bottom: 38px;
}
.services .box-services h1{
    padding-bottom: 10px;

    font-size: 1.5rem;
    color: #fff;
    font-weight: 700;
}
.services .box-services p{
    color: #686868;
    font-size: 1rem;
}
.our-projects{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.our-projects .projects-list{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ededed;

    height: 58px;
    padding: 0 25px;
    border-radius: 19px;
    border: 1px solid #cfcfcf;

    margin-bottom: 8px;
}
.our-projects .projects-list ul{
    display: flex;
    list-style: none;
}
.our-projects .projects-list ul li{
    padding: 0 6px;
    height: 50px;
    border-left: 1px solid #cfcfcf;
    display: flex;
    align-items: center;
}
.our-projects .projects-list ul li:first-child{
    border-left: none;
}
.our-projects .projects-list ul li a{
    display: block;
    padding: 24px 20px;
    font-size: 10px;
    color: #000;
    text-decoration: none;
}
.our-projects .projects-list ul li a:hover{
    border-bottom: 5px solid #b98b59;
    padding-bottom: 17px;
    padding-top: 22px;
}
.our-projects .section-projects-gallery{
    width: 100vw;
    max-width: 1140px;
    padding: 32px 0 0 0;
    padding-left: 20px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.our-projects .projects-photo{
    width: 280px;
    height: 180px;
}
.our-projects .projects-photo .projects-photoarea{
    width: 250px;
    height: 150px;
}
.our-projects .projects-photo .projects-photoarea img{
    width: inherit;
    height: inherit;
}
.projects-photoinfo{
    position: absolute;
    background-color: rgba(0, 0, 0);
    width: inherit;
    height: inherit;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    color: #fff;
    padding: 40px;

    opacity: 0;
    transition: 1s ease;
}
.projects-photoinfo h5{
    font-size: 1.8rem;
    font-weight: 400;
    padding-bottom: 12px;
}
.projects-photoinfo p{
    line-height: 20px;
}
.projects-photoarea:hover .projects-photoinfo{
    cursor: pointer;
    opacity: .8;
}
.our-projects .button{
    text-decoration: none;
    padding: 18px 45px;
    color: #fff;
    background-color: #b98b59;
    border-radius: 19px;
    font-size: 12px;
    font-weight: 600;
}
.default.dark.our-team{
    background-image: url(/assets/images/bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 0;
}
.our-team-area{
    background-color: rgba(0, 0, 0, .8);
    padding-top: 64px;
    padding-bottom: 44px;
}
.default.dark.our-team .sliders{
    overflow: hidden;
    color: black;
    width: 300vw;
    display: flex;
}
.sliders .slide{
    width: 100vw;
}
.sliders .slide .our-team-slides{
    max-width: 114rem;
    margin: auto;
    width: 100%;

    display: flex;
}
.our-team-cards{
    width: 350px;
    height: 400px;
    background-color: #fff;
    margin-right: 30px;
}



